@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.App {
    width: 400px;
    height: auto;
    flex-direction: column;
    background-color: #D9D7F1;
    margin: 15vh calc(50% - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid black;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 90%;
    background-color: #FFCBCB;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid black;
}

.botones-container {
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: repeat(4, 75px);
    gap: 5px;
}

.clear-container {
    height: 60px;
    width: 75%;
    background-color: #FFFDDE;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border: 1px solid black;
}